.errordetails img {
  width: 322px;
  height: 322px;
}

.errordetails_prograph {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  text-align: center;
}


.footer_text {
  font-weight: 900;
  font-size: 28px;
  color: #282828;
  text-align: center;
  font-style: bold;
}

.footer_button a{
  text-decoration: none;
  color: #28A745 ;
}

.footer_button {
    all: unset;
    width: 232px;
    height: 40px;
    text-align: center;
    background-color: #D8FFE1;
    color: #28A745;
    padding: 8px;
    border-radius: 16px;
    font-size: 20px;
    margin: 20px 0 90px 0;
    font-weight: 600;
    cursor: pointer;
}


@media (min-width: 1024px) {
  .errordetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .errordetails img {
    width: 555px;
    height: 555px;
    order: 2;
  }

  .errordetails_prograph {
    order: 1;
  }

  .errordetails_prograph p {
    margin: 0;
  }

  .footer_text {
    width: 404px;
    font-size: 36px;
    text-align: center;
  }

  .footer_button {
    all: unset;
    width: 361px;
    height: 65px;
    text-align: center;
    background-color: #D8FFE1;
    color: #28A745;
    padding: 8px;
    border-radius: 16px;
    font-size: 28px;
    margin-top: 70px;
    font-weight: 600;
    cursor: pointer;
}

  
}