/* ===== Footer Layout Wrapper ===== */

.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "BYekan", sans-serif;
}

.container {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 0 16px;
}

.main {
  flex: 1;
}

/* ===== Divider ===== */

.divider {
  border-top: 1px dashed #00000040;
  border-image: repeating-linear-gradient(
    to right,
    #00000040 0 8px,
    transparent 8px 16px
  ) 1;
}

.divider_two {
  border: 1px solid #00000040;
  margin-top: 9px;
}

/* ===== Footer Structure ===== */

.footer_desktop {
  display: flex;
  justify-content: space-between;
}

.footer_links {
  display: flex;
  justify-content: space-between;
}

.torino_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.torino_info h1 {
  font-weight: 600;
  font-size: 22px;
  color: #282828;
}

.torino_info a {
  text-decoration: none;
  color: #282828;
  font-size: 16px;
  font-weight: 400;
}

.torino_info a:hover {
  color: #28A745;
}

/* ===== Icons Section ===== */

.footer_icons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

.footer_icons_img {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}

.footer_icons_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.images {
  display: flex;
  gap: 12px;
}

.images img {
  width: 35px;
  height: 35px;
}

.center {
  justify-content: center;
  margin-top: 10px;
}

/* ===== Copyright ===== */

.paragraph {
  text-align: center;
}

/* ===== Responsive ===== */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }

  .footer_links {
    gap: 120px;
  }

  .images img {
    width: 78px;
    height: 75px;
  }
}