body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
.dividerer_menu{
  border: 1px solid #00000029;
  margin-top: 19px;
}


.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "BYekan", sans-serif;
  padding: 0;
    overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 0 16px;
}

.button, .mobile_buttom {
  all: unset;
  font-family: inherit;
  cursor: pointer;
}

.header_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.left_side, .right_side {
  display: flex;
  align-items: center;
}

.mobile_menu {
  display: flex;
  align-items: center;
}

.desktop_menu {
  display: none;
}

.divider, .divider_two {
  border-top: 1px dashed #00000040;
  margin: 20px 0;
}

.paragraph {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 12px;
}

.torino_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.torino_info h1 {
  font-weight: 600;
  font-size: 20px;
  color: #282828;
  margin-bottom: 6px;
}

.torino_info a {
  color: #282828;
  font-size: 15px;
  text-decoration: none;
}

.torino_info a:hover {
  color: #28A745;
}

.footer_links {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

.main {
  flex: 1;
}

.footer_icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 28px;
  gap: 12px;
}

.footer_icons_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_icons_logo p {
  margin-top: 6px;
  font-size: 14px;
  color: #555;
  text-align: left;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-end;
}

.images img {
  width: 36px;
  height: 36px;
}

.center {
  justify-content: flex-end;
  margin-top: 10px;
}

.mobile_drawer {
  position: fixed;
  top: 2px;
  bottom: 2px;
  right: 0;
  width: 200px;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1001;
  padding: 32px 12px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  border-radius: 16px 0 0 16px;
}

.mobile_drawer a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #282828;
  text-decoration: none;
  font-size: 16px;
}

.mobile_drawer a:hover {
  color: #28A745;
}

.open {
  transform: translateX(0);
}

.mobile_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.loginForm {
  text-decoration: none;
  color: #28A745;
  font-size: 16px;
}

.toast_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.toast_box {
  background: #fff;
  width: 375px;
  max-width: 360px;
  height: 382px;
  border-radius: 16px;
  padding: 24px;
  position: relative;
  animation: fadeUp 0.3s ease;
}

.close_btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    padding: 0 32px;
  }

  .mobile_menu, .mobile_drawer {
    display: none;
  }

  .desktop_menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .desktop_menu a {
    text-decoration: none;
    color: #282828;
  }

  .desktop_menu a:hover {
    color: #28A745;
  }

  .login_desktop {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 16px;
    height: 44px;
    border: 2px solid #28A745;
    border-radius: 8px;
    cursor: pointer;
  }

  .login_icon {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .login_icon img {
    width: 24px;
    height: 24px;
  }

  .login_desktop span {
    font-size: 18px;
    font-weight: 500;
    color: #28A745;
    margin-right: 5px;
  }

  .footer_links {
    gap: 100px;
  }

  .footer_icons {
    flex-direction: column;
    align-items: flex-end;
    gap: 28px;
    margin-top: 0;
  }

  .footer_icons_logo {
    align-items: flex-end;
    text-align: right;
  }

  .footer_icons_img {
    display: flex;
    gap: 20px;
    align-items: flex-end;
  }

  .images img {
    width: 70px;
    height: auto;
    display: flex;
  }

  .footer_desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
  }
  .mobile_buttom img{
    width: 45px;
    height: 45px;
  }
}


@media (max-width: 1023px) {
  .footer_icons {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer_icons_logo {
    align-items: flex-start;
    text-align: left;
  }

  .footer_icons_logo p {
    text-align: left;
  }

  .images,
  .center {
    justify-content: center;
  }
  
}

