@font-face {
  font-family: "BYekan";
  src: url("/font/Yekan Bakh Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "BYekan";
}


/* globals.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: "BYekan", sans-serif;
}

img, video {
  max-width: 100%;
  height: auto;
}

a, p, span {
  word-break: break-word;
}

.css-137m4ck{
  border-radius: 12px !important;
  border: 1px solid #00000040;
  width: 331px !important;
  font-size: 11px !important;
}

.zm-Header {
  background-color: #fff !important;
  border-bottom: none !important;

  display: flex !important;           /* مهم: فعال کردن flex */
  justify-content: center !important; /* وسط افقی */
  align-items: center !important;     /* وسط عمودی */
  gap: 8px;                           /* فاصله بین ماه و سال، اختیاری */
}


.zm-MonthYearButton{
  background-color: #28A745 !important;
  color: #fff !important;
  border-radius: 6px !important;

}

.zm-IconPrevButton {
  display: none !important;
}

.zm-IconNextButton {
  display: none !important;
 }

.css-1s9k2t7[data-selected='true'] {
   background-color: #1bd647ab !important;
}

/* هر button ای که data-value شامل "Fri" هست */
button[data-value^="Fri"] {
color: #28A745;
}

button[data-value^="Thu"] {
color: #28A745;
}

button[data-value^="Sat"] {
color: #28A745;
}