@font-face {
  font-family: "BYekan";
  src: url("/font/Yekan Bakh Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "BYekan";
}


/* globals.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: "BYekan", sans-serif;
}

img, video {
  max-width: 100%;
  height: auto;
}

a, p, span {
  word-break: break-word;
}



.rmdp-input {        /* یا کلاس واقعی input کتابخونه */
  font-size: 16px;
  font-family: "BYekan";
  text-align: center;
  color: #000;
  border: none !important;
  background: transparent;
  padding: 0;
  outline: none;
}

.rmdp-input,
.rmdp-input:focus,
.rmdp-input:active,
.rmdp-wrapper,
.rmdp-wrapper.selected {
  border: none !important;
  outline: none !important;
}