@font-face {
  font-family: "BYekan";
  src: url("/font/Yekan Bakh Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "BYekan";
}


/* globals.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: "BYekan", sans-serif;
}

img, video {
  max-width: 100%;
  height: auto;
}

a, p, span {
  word-break: break-word;
}

/* Custom Date Mobile first */

.rmdp-input {        /* یا کلاس واقعی input کتابخونه */
  font-size: 16px;
  font-family: "BYekan";
  text-align: center;
  color: #000;
  border: none !important;
  background: transparent;
  padding: 0;
  outline: none;
}

.rmdp-input,
.rmdp-input:focus,
.rmdp-input:active,
.rmdp-wrapper,
.rmdp-wrapper.selected {
  border: none !important;
  outline: none !important;
}


.rmdp-calendar{
  border-radius: 12px ;
  border: 1px solid #00000040;
  width: 350px ;
  height: 269px;
}

.rmdp-wrapper{
  border-radius: 12px !important;
  width: 350px !important;
  background: #fff !important; /* مطمئن بشیم لایه دیگه سفید نباشه */
  box-shadow: none !important;  /* اگر shadow اضافی هست */
  overflow: hidden !important;
}


.rmdp-day-picker {
  display: flex;
  text-align: center;
  justify-content: center;
}



.rmdp-arrow-container{
  display: none !important;
}

.rmdp-week-day{
  color: #10411B !important;
}


/* رنگ روزهای شنبه */
.rmdp-week-day:nth-child(1),
.rmdp-day:nth-child(1) {
  color: #28A745  !important; /* رنگ دلخواه برای شنبه */
}

/* رنگ روزهای یکشنبه */
.rmdp-week-day:nth-child(2),
.rmdp-day:nth-child(2) {
  color: #28A745 !important; /* رنگ دلخواه برای یکشنبه */
}

.rmdp-week-day:nth-child(7),
.rmdp-day:nth-child(7) {
  color: #28A745 !important; /* رنگ دلخواه برای یکشنبه */
}


/* رنگ بک‌گراند روز امروز */
.rmdp-day.rmdp-selected span:not(.highlight) {
    background-color: #28A745 !important;
    box-shadow: 0 0 3px #8798ad;
    color: #fff;
}

.rmdp-day:not(.rmdp-selected):hover,
.rmdp-day:not(.rmdp-selected):hover span.sd {
    background-color: #b2e1bdc3 !important; /* رنگ هاور دلخواه */
    border-radius: 22px !important;
}

.rmdp-day.rmdp-today,
.rmdp-day.rmdp-today span.sd {
    background-color: #ffcc00 !important;
    color: #000 !important;
    border-radius: 22px !important;
}

.rmdp-header-values{
  background-color: #28A745 !important;
  padding: 2px 8px !important;
  border-radius: 4px !important;
  color: #fff !important;
}


.rmdp-range {
  background-color: #28A745 !important;
  color: #000 !important;
}


/* روزهای انتخاب شده */
.rmdp-day.rmdp-selected span:not(.highlight) {
    background-color: #28A745 !important;
    box-shadow: 0 0 3px #8798ad;
    color: #fff !important; /* متن سفید شد تا خوانا باشه */
}

/* رنگ روزهای داخل بازه (range) */
.rmdp-day.rmdp-range {
    background-color: #28A745 !important; /* همان سبز */
    color: #fff !important; /* متن سفید تا خوانا باشد */
}

/* رنگ روز شروع و پایان بازه */
.rmdp-day.rmdp-range-start,
.rmdp-day.rmdp-range-end {
    background-color: #28A745 !important;
    color: #fff !important;
    font-weight: bold !important;
    border-radius: 50% !important;
}

/* desktop%tablet */

