@font-face {
  font-family: "BYekan";
  src: url("/font/Yekan Bakh Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "BYekan";
}


/* globals.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: "BYekan", sans-serif;
}

img, video {
  max-width: 100%;
  height: auto;
}

a, p, span {
  word-break: break-word;
}