@font-face {
  font-family: "BYekan";
  src: url("/font/Yekan Bakh Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "BYekan";
}

.spinner-overlay {
  position: fixed;
  inset: 0; /* top, right, bottom, left = 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  z-index: 9999;
}