.date_info h1{
    width: 333px;
    height: 25px;
    font-weight: 800;
    font-size: 17px;
    color: #595959;
    word-spacing: 3px;
    margin: 30px auto;
}

.booktour{
  display: flex;
  justify-content: space-between;
}



.locations{
  box-sizing: border-box;
  all: unset;
  display: flex;
  margin: 0 3px 6px 3px;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 38px;
  padding: 8px;
  border:1px solid  #00000026;
  border-radius: 16px;
  gap: 8px;
  color: #00000080;
  font-size: 16px;
  font-weight: 400;

  /* hover related */
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.locations:hover {
  border: 1px solid #28A745;
  color: #28A745;
  box-shadow: 0 4px 12px rgba(40, 167, 69, 0.15);
  transform: translateY(-2px);
}

.locations:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.locations:active {
  transform: scale(0.97);
}



.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 60px;
  right: 11px;
  width: 165px;
  background: white;
  border: 1px solid #00000033;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}


.dropdownMenu li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #0000001F;
  height: 50px;
}

.dropdownMenu li:last-child {
  border-bottom: none;
}

/* header */
.dropdownMenu li.frequentHeader {
  background: #f8f8f8;
  cursor: not-allowed;
  font-weight: 600;
  color: #282828B2;
  font-size: 13px;
  height: 35px;
  border-bottom: none;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}


.dropdownMenu li:not(.frequentHeader):hover {
  background: #f0f0f0;
}


/* date */

.dateBox {
  position: relative;
  width: 363px;
  height: 47px;
  border: 1px solid #00000026;
  border-radius: 12px;
  position: relative; 

  display: flex;
  align-items: center;
  justify-content: center; 
}




.myCustomPicker input {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  font-family: "BYekan";
  font-size: 16px;
  text-align: center;
  padding: 0 28px; 
}

/* آیکن */
.dateIcon {
  position: absolute;
  right: calc(50% - 40px);  
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}


.iconSelected {
  right: calc(50% - 62px);   
}



/* سرچ */
.searchButton{
  font-family: "BYekan";
  font-size: 19.5px;
  cursor: pointer;
  width: 363px;
  height: 47px;
  padding: 8px;
  gap: 8px;
  border-radius: 16px;
  color: #fff;
  background-color: #28A745;
  border: none;
  margin: 12px 0;
}

.searchButton:hover {
  box-shadow: 0 4px 12px rgba(40, 167, 69, 0.15);
  transform: translateY(2px);
}




@media (min-width: 768px) {
  .date_info h1{
    width: 482px;
    height: 33px;
    font-size: 21px;
  }
}

@media (min-width: 1024px) {
  .date_info h1{  
    width: 582px;
    height: 43px;
    font-size: 28px;
  }
}