.date_info h1{
    width: 333px;
    height: 25px;
    font-weight: 800;
    font-size: 17px;
    color: #595959;
    word-spacing: 3px;
    margin: 30px auto;
}

.booktour{
  display: flex;
  justify-content: space-between;
}

.locations{
  all: unset;
  display: flex;
  margin: 0 3px 6px 3px;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 38px;
  padding: 8px;
  border:1px solid  #00000026;
  border-radius: 16px;
  gap: 8px;
  color: #00000080;
  font-size: 16px;
  font-weight: 400;
}

/* / */
.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 45px;
  left: 0;
  width: 160px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.dropdownMenu li {
  padding: 8px;
  cursor: pointer;
}
.frequentHeader {
  background: #e0e0e0;  /* رنگ طوسی */
  cursor: not-allowed;   /* غیر قابل کلیک */
  font-weight: 600;
}

.dropdownMenu li:not(.frequentHeader):hover {
  background: #f0f0f0;  /* هاور فقط برای آیتم‌های واقعی */
}
/* ۱ */

/* هدر ستون پر پرتردد */
.frequentHeader {
  font-weight: bold;
  background-color: #e0e0e0; /* طوسی روشن */
  padding: 8px;
  cursor: default;
  border-bottom: 1px solid #ccc;
}

/* هدر ستون پر پرتردد */
.frequentHeader {
  font-weight: bold;
  background-color: #e0e0e0; /* طوسی روشن */
  padding: 8px;
  cursor: not-allowed; /* غیرقابل کلیک */
  border-bottom: 1px solid #ccc;
}

@media (min-width: 768px) {
  .date_info h1{
    width: 482px;
    height: 33px;
    font-size: 21px
  }
  
}

@media (min-width: 1024px) {
  .date_info h1{
    width: 582px;
    height: 43px;
    font-size: 28px
  }
}


