.toast_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.toast_box {
  width: 335px;
  max-width: 95%;
  min-height: 378px;
  background: #fff;
  border-radius: 20px;
  padding: 24px;
  position: relative;
  animation: fadeUp 0.3s ease;
}

.close_btn {
  position: absolute;
  top: 12px;
  left: 12px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  height: 52px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 20px;
  font-family: inherit;
}

.error {
  min-height: 18px;
  font-size: 13px;
  color: #e63946;
  text-align: right;
}

.submit {
  width: 100%;
  height: 52px;
  margin: 0 auto;
  display: block;
  border-radius: 6px;
  background: #28a745;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-family: "BYekan", sans-serif;
}

.back_btn {
  position: absolute;
  top: 12px;
  left: 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #282828;
}

.back_btn:hover {
  color: #28a745;
}

.loginPage {
  all: unset;
  color: #28a745;
  cursor: pointer;
}

.mobileHint {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #282828;
  margin-bottom: 12px;
}

.mobileHint span {
  color: red;
  direction: ltr;
  font-weight: 500;
}

.otpWrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  direction: ltr;
}

.otpInput {
  width: 50px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid #00000040;
  text-align: center;
  font-size: 24px;
  font-family: inherit;
  transition: 0.2s ease;
}

.otpInput:focus {
  border-color: #28a745;
  outline: none;
}

.otpErrorInput {
  border-color: #e63946 !important;
}

.timer {
  text-align: center;
  font-size: 12px;
  color: #282828;
  margin-top: 8px;
}

.resend {
  background: none;
  border: none;
  color: #28a745;
  font-size: 14px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
  font-family: "BYekan";
}

.shake {
  animation: shake 0.35s;
}

.errorBox {
  min-height: 18px;
  font-size: 12px;
  color: #d32f2f;
  text-align: start;
  margin-top: 8px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
  .loginPage {
    display: none;
  }
}